html {
   background: url("simplelines.jpeg.png") no-repeat center center fixed;
   height: 1000px;
   font-family: 'Roboto', sans-serif;
}

body {
   font-family: 'Roboto', sans-serif;
   background: url("simplelines.jpeg.png") no-repeat center center fixed;
   height: 1000px;
}


title {
   font-size: 200px;
   font-family: 'Roboto', sans-serif;
}

nav {
}

.main {
   font-size: 200px;
   text-align: right;
}

p {
   font-size: 25px;
   margin: 60px 0 0 0;
   width: 400px;
   float: right;
}
