html {
   background: url("simplelines.jpeg.png") no-repeat center center fixed;
   height: 1000px;
   font-family: 'Roboto', sans-serif;
}

body {
   font-family: 'Roboto', sans-serif;
   background: url("simplelines.jpeg.png") no-repeat center center fixed;
   height: 1000px;
}


title {
   font-size: 200px;
   font-family: 'Roboto', sans-serif;
}

nav {
}

.main {
   font-size: 250px;
   text-align: right;
}

p {
   font-size: 25px;
   margin: 30px 0 0 0;
   width: 400px;
   float: right;
   line-height: 1.3em;
   background-color: #D7C6CF;
}

h1{
   text-align: left;
}

